.appStyle {
  text-align: center;
  background-color: #FFF200;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px white;
}

.header {
background-color: #FFF200;
color: #ec008c;
padding-top: 20px;
}

.header h1 {
  -webkit-transform: rotate(-7deg); /* Safari */
  transform: rotate(-7deg);
  padding-bottom: 20px;
  text-shadow: 2px 2px black;
}

.header h1 img {
  position: relative;
  top: 10px;
}

.row {
  display: flex;
}

.columnLeft {
  flex: 30%;
  padding: 10px;
}

.columnRight {
  flex: 70%;
  padding: 10px;
}

.columnRate {
  background-color: rgb(0, 151, 211);
  color: white;
  box-shadow: 4px 4px white;
}

.columnRate:nth-child(even){
  background-color: #00ADEF;
}


.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(31, 31, 31);
  color: white;
  font-style: italic;
}

a:link {
  color: #00ADEF;
  text-decoration: none;
}

a:visited {
  color: #00ADEF;
  text-decoration: none;
}

a:hover {
  color: #EC008C;
  text-decoration: none;
}

a:active {
  color: #00ADEF;
  text-decoration: none;
}
